* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Numito Sans", sans-serif;
    background:  hsl(207, 26%, 17%);
}

@media screen and (min-width: 280px) {
    header {
        top: 0;
        position: fixed;
        width: 100vw;
        z-index: 10;
        color: white;
    }

    /*img.moon {
        height: 5vh;
        font-size: small;
        justify-self: right;
        margin: auto 10%;
        min-height: 20px;
    } */
    svg.svg-inline--fa.fa-moon.fa-w-16 {
        height: 17px;
        width: 5vw;
        font-size: small;
    }

    img {
        max-width: 245px;
        min-height: 160px;
        margin: auto;
        display: block;
    }

    p.paraName {
        text-align: center;
    background-color:  hsl(209, 23%, 22%);
    width: 81%;
    margin: auto;
    }

    figure {
        display: grid;
    grid-template-columns: 1fr 1fr;
justify-items: end;
    }

    div.countries {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: small;
        justify-items: center;
        align-items: center;
        background-color: hsl(209, 23%, 22%);
        height: 20vh;
    }

    .allCountries {
        width: 300px;
        max-height: 280px;
        margin-top: 10%;
    }

    .allCountries:hover {
       cursor: pointer;
    }

    form {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        position: relative;
        top: 50vh;
        z-index: 1;
        margin-top: 10px;

    }

    .selectOptions {
        text-align: left;
        margin-left: 10%;
        width: 80%;
    }

    select.continents {
       width: 60%;
       height: 6vh;
       margin-bottom: 5%;
       background-color: hsl(209, 23%, 22%);
       color: white;
    }

    input[type="search"] {
        position: relative;
        width: 88%;
        height: 7vh;
        padding-left: 5%;
        display: block;
        border: none;
        border-radius: 10px;
        height: 12vh;
        margin: 5% auto;
        background-color: hsl(209, 23%, 22%);
        color: white;
    }
    input[type="search"]::before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f002";
}
}

@media screen and (min-width: 616px) {
    form {
        grid-template-columns: 1fr 1fr;
        margin: 5% auto;
        justify-items: center;
    }


    input[type="search"] {
        width: 80%;
        height: 6vh;
        margin: 0
    }
    main {
        top: 25vh;
    }

}
